html {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  background-color: #0f0e10;
  }

a {
  font-weight: bold;
}

a:link, a:visited {
  outline: none;
  text-decoration: none;
  color: rgb(176, 176, 176);
  }

a:focus {
  border-bottom: 2px solid;
  }
  
a:hover {
  border-bottom: 2px solid;
  }


.about-link:hover, .about-link:focus {
  color: rgb(255, 153, 0);
}

.about-text {
  color:rgb(255, 153, 0);
}

.resume-link:hover, .resume-link:focus {
  color: #ec7837;
}

.resume-text {
  color: #ec7837;
}

.resume-text h3 {
  display: inline;
}

.resume-text h4 {
  display: inline;
  color: #d85670;
  padding-left: 16px;
}

.resume-text time {
  font-style: italic;
  color: rgb(255, 153, 0);
  padding-left: 16px;
  padding-right: 16px;
}

.resume-text span {
  font-style: italic;
  color: #ca3e98;
}

.resume-text ul {
  display: revert;
}

.resume-text li {
  font-size: 16px;
  padding-left: revert;
  padding-right: revert;
  padding-bottom: 8px;
  letter-spacing: revert;
  list-style: revert;
  margin-left: 16px;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.skills-grid ul {
  list-style: none;
}

.art-link:hover, .art-link:focus {
  color: #d85670;
}

.art-text {
  color: #d85670;
}

.books-link:hover, .books-link:focus {
  color: #ca3e98;
}

.books-text {
  color: #ca3e98;
}

.books-text span {
  font-style: italic;
  color: #ca3e98;
}

.books-text ul {
  display: revert;
}

.books-text li {
  font-size: 24px;
  padding-left: revert;
  padding-right: revert;
  padding-bottom: 16px;
  letter-spacing: revert;
  margin-left: 16px;
}

.books-text span {
  font-size: 16px;
  color:rgb(166, 0, 255);
  padding-left: 24px;
}

.links-link:hover, .links-link:focus {
  color: rgb(166, 0, 255);
}

.links-text {
  color:rgb(166, 0, 255);
}
  
h1 {
  display: inline;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding-left: 8px;
  font-size: 64px;
  background: rgb(144, 0, 201);
  background: linear-gradient(90deg,rgb(255, 153, 0) 0%, rgb(166, 0, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  }

.header-open {
  height: auto;
  display: block;
  text-align: center;
}

.header-open h1 {
  padding-left: unset;
  position: relative;
  top: 16px;
}

.header-open a{
  display: inline;
}

.header-open ul {
  display: block;
  padding: unset;
}

.header-open li {
  padding: unset;
}

h2 {
  font-size: 48px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}

header {
  background-color: #0f0e10;
  border-bottom: 1px solid rgb(176, 176, 176);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding-top: 48px;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  }

ul {
  display: flex;
}

li {
  font-family: 'Arial', sans-serif;
  font-size: 40px;
  padding-left: 16px;
  padding-right: 16px;
  letter-spacing: 1px;
  list-style: none;
}

#hamburger {
  font-size: 40px;
  display: none;
  position: absolute;
  top: 8px;
  right: 16px;
}

#hamburger:hover, #hamburger:focus {
  border-bottom: none;
  background: rgb(144, 0, 201);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hamburger:focus {
  border: 1px solid rgb(255, 153, 0);
}

@media screen and (max-width: 1300px) {

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 40px;
  }

  nav a {
    font-size: 32px;
  }
}

@media screen and (max-width: 1080px) {

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  nav a {
    font-size: 24px;
  }

  li {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 908px) {

  .books-text li {
    font-size: 16px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  html {
    font-size: 16px;
  }

  nav a {
    font-size: 16px;
  }

  li {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 736px) {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  html {
    font-size: 16px;
  }

  nav a {
    display: none;
    font-size: 24px;
  }

  #hamburger {
    display: block;
  }

  li {
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (max-width: 528px) {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  html {
    font-size: 16px;
  }

  nav a {
    display: none;
    font-size: 24px;
  }

  #hamburger {
    display: block;
  }

  li {
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
  }
}